<h2> Welcome to Academic Program Dashboard </h2>

<body>

<div id="info-body">
<p> Academic Program Review (APR) at UNM supports and advances the mission of the university through providing a mechanism for academic programs to examine their achievements, goals, and strategic plans for the future. Within this context, the APR office's primary purpose is to assist academic programs through the process of preparing a unit self-study, organizing and preparing for a site visit from a review team, and engaging in action planning for the future. </p>
</div>


<div id="project">

<p> Create New APR Project <%= link_to "here", table_index_path %> </p>

<p> Update Existing APR Project <%= link_to "here", table_index_path %> </p>


</div>