<h2> Academic Program Review </h2>

<body>

<div id="info">

<div id="header">
	<p> Mission Statement: </p>
</div>

<div id="info-body">
<p> Academic Program Review (APR) at UNM supports and advances the mission of the university through providing a mechanism for academic programs to examine their achievements, goals, and strategic plans for the future. Within this context, the APR office's primary purpose is to assist academic programs through the process of preparing a unit self-study, organizing and preparing for a site visit from a review team, and engaging in action planning for the future. </p>

</div>

<div id="login">
<P> To login to APR report generation website: </P>

<p> Already a member? <%= link_to "Sign in", new_user_session_path %> </p>

<p> New member? <%= link_to "Sign up", new_user_registration_path %> </p>


</div>

</div>




</body>

