<<<<<<< HEAD
<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>
<h1>Welcome to Admin Page</h1>
<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
=======
<h1> Admin page </h1>
>>>>>>> 39e8cbc0d440e26a2949665f999504e3cca655b3
